<div class="repo p-2">
  <a href="https://github.com/{{ include.repository }}" target="_blank" rel="noopener noreferrer">
    <div class="repo-card">
      <div class="repo-name">
        <i class="fa-brands fa-github"></i>
        {{ include.repository }}
      </div>
    </div>
  </a>
</div>
